
h1 {
    text-align: center;
    padding: 1.5rem;
}

.container {
    display: flex;
    max-width: 95%;
    margin: 0 auto;
}

.side {
    width: 50%;
}

.user span {
    margin-right: 1.5rem !important;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
}
